body {
    background:black;
    display: flex;
    justify-content: center;
}
.container {
    height: 150vh;
    width: 75vh;
    display: flex;
    flex-wrap: wrap;
}
.colorbox {
    background-color: rgb(85, 84, 84);
    height: 7.5vh;
    width: 7.5vh;
}
.colorbox:hover {
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.685); 
    z-index: 10;
}